In [16]:
import utils
import operator
import itertools
import pandas
# topics: http://www.newsreader-project.eu/files/2013/01/NWR-2014-1.pdf

In [2]:
topics = {
    'crime' : ['escape', 'shoot', 'kill', 'assassination', 'rob', 'vandalism', 'attack', 'riot', 'steal', 'bomb'],
    'life': ['die'],
    'employment': ['hire', 'fire'],
    'business': ['profit', 'takeover', 'merge', 'release', 'sales'],
    'disasters' : ['earthquake', 'fire', 'flood', 'storm', 'explosion']
}

In [19]:
topic='employment'
topic='business'
topic='crime'
topic='life'
topic='disasters'
lex_exps=topics[topic]
print(lex_exps)
combs = []
for i in range(1, len(lex_exps)+1):
    els = [list(x) for x in itertools.combinations(lex_exps, i)]
    for combo in els:
        q = topic + ' ' + ' '.join(list(combo))
        combs.append([i, q, utils.count_for_query(q)])

headers = ['number_of_terms',  'terms', 'number_of_articles']
df = pandas.DataFrame(combs, columns=headers)
df

#table = utils.show_me(df, keys, headers, meta={'number_of_articles'})
#display(HTML(table))

['earthquake', 'fire', 'flood', 'storm', 'explosion']

,number_of_terms,terms,number_of_articles
0,1,disasters earthquake,301
1,1,disasters fire,362
2,1,disasters flood,195
3,1,disasters storm,243
4,1,disasters explosion,83
5,2,disasters earthquake fire,65
6,2,disasters earthquake flood,38
7,2,disasters earthquake storm,38
8,2,disasters earthquake explosion,23
9,2,disasters fire flood,44
10,2,disasters fire storm,62
11,2,disasters fire explosion,50
12,2,disasters flood storm,71
13,2,disasters flood explosion,2
14,2,disasters storm explosion,6
15,3,disasters earthquake fire flood,18
16,3,disasters earthquake fire storm,15
17,3,disasters earthquake fire explosion,19
18,3,disasters earthquake flood storm,19
19,3,disasters earthquake flood explosion,1
20,3,disasters earthquake storm explosion,2
21,3,disasters fire flood storm,22
22,3,disasters fire flood explosion,0
23,3,disasters fire storm explosion,1
24,3,disasters flood storm explosion,2
25,4,disasters earthquake fire flood storm,12
26,4,disasters earthquake fire flood explosion,0
27,4,disasters earthquake fire storm explosion,0
28,4,disasters earthquake flood storm explosion,1
29,4,disasters fire flood storm explosion,0
30,5,disasters earthquake fire flood storm explosion,0

## Inspect sources

In [4]:
sources_freq = utils.count_sources(all_results)
utils.print_first_x(sources_freq)

WGOW 1150 AM 1
International Business Times India 1
Taranaki Daily News 1
EIN News 1
Naija Lately 1
Trailer / Body Builders 1
Kenly News 1
Times-Courier 1
KETV.com 1
Hubii 1
Worcester Telegram & Gazette 1

## Inspect time

In [5]:
dates_freq = utils.count_times(all_results)
utils.print_first_x(dates_freq)

2015 20

## Length article

In [6]:
length_freq = utils.count_lenght(all_results)
utils.print_first_x(length_freq)

300 5
100 4
900 3
600 2
200 2
400 1
1700 1
500 1
800 1

## One example

In [7]:
for value in all_results.values():
    print(value)
    break

{'_source': {'media-type': 'News', 'title': 'Meredith, Media General merging TV stations in $2.4 billion deal', 'content': 'In the latest sign of ongoing local media consolidation, two owners of local TV stations, Meredith and Media General, said Tuesday that they are merging in a $2.4 billion transaction.\n\nMedia General\'s 71 stations and Meredith\'s 17 stations will be combined under a new holding company called Meredith Media General. It\'ll be the No. 3 owner of TV affiliates in the United States behind Sinclair and Nexstar.\n\nThe move is intriguing because many analysts had speculated that Meredith, the owner of famed magazines like Better Homes and Gardens, would merge with magazine giant Time Inc. \n\nInstead Meredith seems to be prioritizing its TV and digital businesses. \n\n"This merger creates greater opportunities for profitable growth than either company could achieve on its own," Media General\'s chairman J. Stewart Bryan III said in a statement.\n\nOperators of TV stations have been bulking up for several years, partly as a response to broader advertising and subscriber revenue trends. Government regulators have generally supported the mergers. \n\nIn 2013, for example, Gannett bought Belo and Tribune bought Local TV Holdings. In 2014 E.W. Scripps bought Journal Broadcast Group and Sinclair bought Allbritton\'s stations. \n\nMeredith and Media General said they expected the new merger to clear regulatory hurdles by next June. \n\nMedia General\'s Bryan will be the chairman of the combined company. \n\nMeredith\'s CEO Stephen Lacy will be the CEO and president. \n\nThe companies are predicting more than $800 million in "total synergies" within the first two years.', 'id': 'a98e578f-e091-4a65-8660-5ee79f36f7ed', 'source': 'KETV.com', 'published': '2015-09-08T12:26:29Z'}, '_index': 'news', '_score': 3.6658447, '_id': 'AVZ491Zpy1kBQQb2F1yl', '_type': 'sm'}

## What long tail effect(s) do we want to introduce:
    * lemma: same | different
    * publishing date: same | different

## Discussion
* comparison per year
* German's data has clusters (articles that belong to the same cluster)
    * [question]: how did they cluster the data?

## Idea:
    * Event mention detection:
    * Event coreference:
        * gold event mentions
    * Q&A:
        * gold event mentions
        * [if wanted]: gold events

In [8]:
from nltk.corpus import wordnet as wn

In [9]:
for synset in wn.synsets('firing'):
    print(synset, synset.definition())

Synset('fire.n.02') the act of firing weapons or artillery at an enemy
Synset('discharge.n.09') the act of discharging a gun
Synset('ignition.n.03') the act of setting something on fire
Synset('dismissal.n.04') the termination of someone's employment (leaving them free to depart)
Synset('open_fire.v.01') start firing a weapon
Synset('fire.v.02') cause to go off
Synset('fire.v.03') bake in a kiln so as to harden
Synset('displace.v.03') terminate the employment of; discharge from an office or position
Synset('fire.v.05') go off or discharge
Synset('fire.v.06') drive out or away by or as if by fire
Synset('arouse.v.01') call forth (emotions, feelings, and responses)
Synset('burn.v.01') destroy by fire
Synset('fuel.v.02') provide with fuel